p{
    font-family: baskerville;
    font-size: 35px;
    color: darkslategrey;
    text-align: left;
    text-style: italic;
}
.row > div {
  background: lightgrey;
  border: 1px solid grey;
}
