body{
	margin:0px;
	font-family:Helvetica;
	color:white;
	background:#C2B280;	
	line-height:1.5;
}
@media(min-width:768px){
#header, #main{
	display:flex;
}
#header{
	background:#C2B280;
	font-size:200%;
}
#main{
	min-height:500px;
	background:C2B280;
	font-size:150%;
}
#header1{
	flex:1;	
	text-align:center;	
}
.link,.foot{
	flex:3;
	text-align:center;	
}
#header2{
	display:flex;
	flex:2;	
	align-items:center;
}
#sidebar{
	flex:1;
	padding:5%;
}
#content{
	flex:10;
	padding:5%;
}
a{
	color:white;
}
}
